<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Makemytrip</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b36d79">  <td>18/06/22 19:05:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Makemytripmethods.BrowserLaunch()[pri:0, instance:Makemytrip.com.Makemytripmethods@1579e0f]">&gt;&gt;BrowserLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/06/22 19:05:46</td>   <td>17698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Makemytripmethods.login()[pri:1, instance:Makemytrip.com.Makemytripmethods@1579e0f]">login</td> 
  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/06/22 19:06:00</td>   <td>31397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Makemytripmethods.FlightSearch(java.lang.String, java.lang.String)[pri:2, instance:Makemytrip.com.Makemytripmethods@1579e0f]">FlightSearch</td> 
  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>18/06/22 19:06:49</td>   <td>80900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Makemytripmethods.Travellers()[pri:3, instance:Makemytrip.com.Makemytripmethods@1579e0f]">Travellers</td> 
  <td>main@19717364</td>   <td></td> </tr>
</table>
