<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83bb8e">  <td>18/06/21 18:53:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Makemytrip.Application()[pri:0, instance:Makemytrip.com.Makemytrip@1d7a715]">&gt;&gt;Application</td> 
<td>&nbsp;</td>  <td>main@4635860</td>   <td></td> </tr>
<tr bgcolor="83bb8e">  <td>18/06/21 18:54:17</td>   <td>21432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Makemytrip.Login()[pri:0, instance:Makemytrip.com.Makemytrip@1d7a715]">Login</td> 
  <td>main@4635860</td>   <td></td> </tr>
</table>
